.app {
  text-align: center;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  min-height: 100vh;
  padding: 10px;
  color: white;
}

body {
  background: #222;
}

.inputs {
  text-align: left;
}

.inputGroupRow {
  display: table-row;
  margin-top: 10px;
  position: relative;
  padding: 0;
}

.inputGroupCell {
  display: table-cell;
  padding: 10px;
}

.studPlateSwitch {
  display: inline;
  clear: right;
  margin: 0;
}

.helpMessage {
  margin-top: 10px;
  opacity: 50%;
}

.angleControls {
  display: table;
}

.angleControls > div {
  display: table-row;
}

.angleControlGroup {
  display: table-cell;
}

fieldset {
  border-color: #505055;
  border-width: 2px;
  border-radius: 10px;
}

legend {
  font-size: 8pt;
  font-weight: bold;
}

.tripleGroupDisplay {
  color: black;
  width: 480px;
  height: 480px;
  border-radius: 20px;
  border: 2px solid #111;
  background: #ddd;
  display: inline-block;
  margin: 12px;
  position: relative;
}

.tripleGroupNumber {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  padding: 0;
}

.variantSelector {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
}

.drawingWrapper {
   width: 450px;
   height: 400px;
   margin-left: auto;
   margin-right: auto;
   position: absolute;
   bottom: 15px;
   left: 15px;
   border: 1px solid black;
}